<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ERROR! PDF-REPORT GENERATOR</title>
  <link rel="stylesheet" href="./static/css/style.css">
  <link rel="stylesheet" href="./static/js/index.js">
</head>

<body>
  <div class="form">
    <div class="tab-content">
      <div id="UI">
        <h1 style="font-weight: bold;">Error! No matching data found for the provided USN.</h1>
        <a href="/"><input type="submit" value="BACK TO HOME" class="button button-block" style="color: black;" /></a>
      </div>
    </div>
  </div>
</body>
</html>